---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';

const labelClasses = 'block mt-4 w-full';
const inputClasses = 'border-indigo-950 w-full bg-gradient-to-b text-indigo-950 from-indigo-100 to-indigo-200';
---

<BaseLayout title="Contact | Matt Hinsz" description="get in Touch with Matt Hinsz">
	<div class="stack gap-20">
		<main class="wrapper contact">
			<Hero
				title="Get In Touch"
			>
			</Hero>

			<section class="flex justify-center">
				<form name="contact" method="post" action="/thank-you" class="w-full md:w-1/2">
					<input type="hidden" name="form-name" value="contact" />
					<div>
						<label for='name' class={labelClasses}>Name</label>
						<input type="text" class={inputClasses} name='name' />
					</div>
					<div>
						<label for='email' class={labelClasses}>Email</label>
						<input type="email" class={inputClasses} name='email' />
					</div>
					<div>
						<label for='company' class={labelClasses}>Company</label>
						<input type="text" class={inputClasses} name='company' />
					</div>
					<div>
						<label for='message' class={labelClasses}>Message</label>
						<textarea class={inputClasses} name='message' rows="3"></textarea>
					</div>
					
					<div class="text-center mt-2 flex justify-center">
						<button type="submit" class="mt-3 rounded-lg">Send</button>
					</div>
				</form>

			</section>
			
		</main>

	</div>
</BaseLayout>

<style>
	button {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.3em 2em .2em;
		gap: 0.8em;
		color: var(--accent-text-over);
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-lg);
		white-space: nowrap;
		text-align: center;
	}
	label {
		font-size: 1.2rem;
		margin:15px 0 0;
	}
	input, textarea {
		position: relative;
        flex-direction: row;
        font-size: var(--text-md);
        border-radius: 999rem;
        border: 0;
        padding: 0.75rem 0.75rem .5rem;
        box-shadow: var(--shadow-md);
		width:100%;
	}
	textarea {
		border-radius: 2rem;
	}
	@media (min-width: 20em) {
		button {
			font-size: var(--text-md);
		}
	}

	/* Overlay for hover effects. */
	button::after {
		content: '';
		position: absolute;
		inset: 0;
		pointer-events: none;
		transition: background-color var(--theme-transition);
		mix-blend-mode: overlay;
	}

	button:focus::after,
	button:hover::after {
		background-color: hsla(var(--gray-999-basis), 0.3);
	}

	@media (min-width: 50em) {
		button {
			padding: 1rem 2.5rem .9rem;
			font-size: var(--text-lg);
		}
	}
</style>
